examples/advanced/big.json
[{"id":"6692d0fa.40aa38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ccbf565f.5a59d8","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":340,"y":540,"wires":[["2c9855ae.00b05a","99a4c193.dc693","46cfca34.dea7b4","9f0b460f.908df8","62609e4e.9510d8"]]},{"id":"c6e20f00.71d398","type":"inject","z":"6692d0fa.40aa38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":540,"wires":[["ccbf565f.5a59d8"]]},{"id":"62609e4e.9510d8","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":540,"y":660,"wires":[["87bcd70a.664ce","2745839.86eaffc","b03005b1.2b0ae8","d05f9e4f.81b868","252042f8.d342a6","edd25d55.cb8108","2c04fceb.dac97c","d9a92af5.f1c918","38b1f3bc.c42a94","c60ce97d.7a9858","d3864746.5326a","c90b87ee.56ced","52165021.3bd59"]]},{"id":"9f0b460f.908df8","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":540,"y":600,"wires":[["87bcd70a.664ce","52442a3.8d643d4","2745839.86eaffc","b03005b1.2b0ae8","d05f9e4f.81b868","252042f8.d342a6","edd25d55.cb8108","2c04fceb.dac97c","d9a92af5.f1c918","38b1f3bc.c42a94","c60ce97d.7a9858","d3864746.5326a","c90b87ee.56ced","52165021.3bd59","9201952d.189b68"]]},{"id":"46cfca34.dea7b4","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":540,"y":540,"wires":[["9201952d.189b68","52165021.3bd59","d3864746.5326a","c60ce97d.7a9858","38b1f3bc.c42a94","d9a92af5.f1c918","2c04fceb.dac97c","edd25d55.cb8108","252042f8.d342a6","d05f9e4f.81b868","b03005b1.2b0ae8","2745839.86eaffc","52442a3.8d643d4","87bcd70a.664ce"]]},{"id":"99a4c193.dc693","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":540,"y":480,"wires":[["9201952d.189b68","52165021.3bd59","c90b87ee.56ced","d3864746.5326a","c60ce97d.7a9858","38b1f3bc.c42a94","d9a92af5.f1c918","2c04fceb.dac97c","edd25d55.cb8108","252042f8.d342a6","d05f9e4f.81b868","b03005b1.2b0ae8","2745839.86eaffc","52442a3.8d643d4","87bcd70a.664ce"]]},{"id":"2c9855ae.00b05a","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":540,"y":420,"wires":[["9201952d.189b68","52165021.3bd59","c90b87ee.56ced","d3864746.5326a","c60ce97d.7a9858","38b1f3bc.c42a94","d9a92af5.f1c918","2c04fceb.dac97c","edd25d55.cb8108","252042f8.d342a6","d05f9e4f.81b868","b03005b1.2b0ae8","2745839.86eaffc","52442a3.8d643d4","87bcd70a.664ce"]]},{"id":"26a275e6.a9bf4a","type":"debug","z":"6692d0fa.40aa38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":380,"wires":[]},{"id":"252042f8.d342a6","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":680,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"edd25d55.cb8108","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":620,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"2c04fceb.dac97c","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":560,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"d9a92af5.f1c918","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":500,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"38b1f3bc.c42a94","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":440,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"87bcd70a.664ce","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":980,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"52442a3.8d643d4","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":920,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"2745839.86eaffc","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":860,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"b03005b1.2b0ae8","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":800,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"d05f9e4f.81b868","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":740,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"c60ce97d.7a9858","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":380,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"d3864746.5326a","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":320,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"c90b87ee.56ced","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":260,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"52165021.3bd59","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":200,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"9201952d.189b68","type":"infinidash","z":"6692d0fa.40aa38","name":"","count":"10","x":760,"y":140,"wires":[["26a275e6.a9bf4a","62961e77.0c2d18"]]},{"id":"62961e77.0c2d18","type":"counter","z":"6692d0fa.40aa38","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":1300,"y":640,"wires":[["26bf405e.3109d"]]},{"id":"26bf405e.3109d","type":"debug","z":"6692d0fa.40aa38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":640,"wires":[]},{"id":"56f27e3f.2ab42","type":"inject","z":"6692d0fa.40aa38","name":"reset","props":[{"p":"reset","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1290,"y":540,"wires":[["62961e77.0c2d18"]]}]