examples/basic/one.json
[{"id":"e69b8c9ed43f79c4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d6498e3f12faf960","type":"infinidash","z":"e69b8c9ed43f79c4","name":"","count":"10","x":440,"y":380,"wires":[["63c5dc36fc8fed6c"]]},{"id":"e218eec43ae2753e","type":"inject","z":"e69b8c9ed43f79c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":380,"wires":[["d6498e3f12faf960"]]},{"id":"63c5dc36fc8fed6c","type":"debug","z":"e69b8c9ed43f79c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":380,"wires":[]}]
